@font-face {
    font-family: koliko;
    src: url(fonts/koliko-Regular.woff);
}
* {
    box-sizing: border-box;
}
body{
    /*font-family: koliko;*/
    background-color: #001331;
    font-family: 'Alata', sans-serif;   
    color: white;
    margin: 0;
}
div a {
    float: left;
}

.logo-home{
    font-size: 32px;
    color: #001331;
}
a{
    color: white;
    text-decoration: none;
}

.topnav{
    overflow: hidden;
    display: flex;
    background-color:aqua;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8% 1% 8%;
    border: 1px solid black;
}

.topnav-right {
    display: flex;
    border: 2px solid red;
}

nav a{
    text-align: center;
    padding: 0 10px 0 10px;
    color: #001331;
}

nav{
    float: right;    
}

.fas{
    font-size: 16px;
}

.disp-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}

.disp-weather {
    display: inline-block;
}

.clothes {
    border: 2px solid red;
}

.clothes ul {
    display: inline-flex;
    padding-left: 0px;
    justify-content: center;
    align-content: center;
}

.clothes img {
    width: 30%;
    height: auto;
}

.disp-weather div{          
    border: 2px solid red;
}

.disp-weather div p{
    display: flex;
}








